{% extends "movies/layout.html" %} {% block body %} {% load static %}

<div class="d-flex p-4 justify-content-center">
  <h1><b>Movie Details</b></h1>
</div>

<div class="container">
  <div class="row pt-4">
    <div class="col-4"></div>
    <div class="col-4">
        

          
    </div>
    <div class="col-4"></div>
  </div>
</div>


<a href="javascript:history.back()">Back to results</a>
<!-- <a href="{% url 'search' %}">Back</a> -->



<div class="row row-cols-1 row-cols-md-3 g-4">
    
    


<!-- <h2>Title: {{ item.title }}</h2>


<h3>Year: {{ item.year }}</h3>
<h3>Type: {{ item.type }}</h3>
<h3>Runtime: {{ runtime }}</h3>
<h3>Genre: {{ genre }}</h3>
<h3>Director: {{ director }}</h3>
<h3>Actors: {{ actors }}</h3>
<h3>Plot: {{ plot }}</h3>
<h3>Language: {{ language }}</h3>
<h3>Awards: {{ awards }}</h3>
<h3>Poster: <img src="{{ poster }}" height="200" width="200"></h3> -->

    
</div>

<div class="d-flex p-4 justify-content-center">
    


  <div class="card m-3" style="width: 80%">
      <img class="card-img-top text-center" src="{{item.poster}}" alt="{{item.title}}" style="width: 20rem" />
      <div class="card-body">
          <h2 class="card-title">{{item.title}}</h2>
          <h5 class="card-subtitle mb-2 text-muted">{{item.year}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.rated}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.released}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.runtime}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.genre}}</h5>

          <h5 class="card-subtitle mb-2 text-muted">{{item.director}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.actors}}</h5>
          <h3 class="card-subtitle mb-2 text-muted">Plot: {{item.plot}}</h3>
          <h5 class="card-subtitle mb-2 text-muted">{{item.language}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.awards}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.metascore}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.votes}}</h5>
          <h5 class="card-subtitle mb-2 text-muted">{{item.revenue}}</h5> 

   
          
          <h6 class="card-subtitle mb-2 text-muted">{{item.budget}}</h6>

          <h6 class="card-subtitle mb-2 text-muted">{{item.type}}</h6>
      </div>
  </div>


</div>




  {% endblock %}
</div>
