{% extends "movies/layout.html" %}
{% block body %}

<br>
<div class="container">
   <h1 style="text-transform: capitalize;">{{ user_profile }}'s List</h1>
   <div class="row d-flex justify-content-center">
       <h3 class="col-4">Followers: {{ followers.count }}</h3>
       <h3 class="col-4">Following: {{ following.count }}</h3>
       {% if user.is_authenticated %}
           {% if user != user_profile %}
               {% if is_following %}
                   <form action="{% url 'unfollow' %}" method="post">
                       {% csrf_token %}
                       <input type="hidden" name="user_follow" value="{{ user_profile }}" />
                       <input type="submit" value="Unfollow" class="btn btn-danger" />
                   </form>
               {% else %}
                   <form action="{% url 'follow' %}" method="post">
                       {% csrf_token %}
                       <input type="hidden" name="user_follow" value="{{ user_profile }}" />
                       <input type="submit" value="Follow" class="btn btn-success" />
                   </form>
               {% endif %}
           {% endif %}
       {% endif %}
   </div>
</div>
<hr>
<br>

   <!-- Show paginated movies -->
   <div class="profile row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <!-- TODO: Get a title that is already in George's list also showing in Alma's list -->
      {% for movie in page_obj %}
      <div class="card ms-3" style="width: 14rem" data-id="{{movie.id}}" ;>
         <!-- <div class="card-body rounded"> -->
         <h4 class="card-title"><a href="{% url '_profile' user_id=movie.user.id%}"><b>@{{ movie.user}}</b></h4></a>
       
            <img class="card-img-top" src="{{movie.poster}}" alt="{{movie.title}}" />
            <div class="card-body">
               <h5 class="card-title">{{movie.title}}</h5>
               <p class="card-subtitle mb-2 text-muted">{{movie.year}}</p>
               <p class="card-subtitle mb-2 text-muted">{{movie.type}}</p>
               <a href="{% url '_details' imdb_id=movie.imdb_id %}" class="btn btn-primary" data-id="{{movie.imdb_id}}">details</a>
            
            </div>
      </div>
      {% endfor %}
   </div>


   <br>
   <!-- Pagination -->
   <nav aria-label="Page">
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
         </li>
         {% endif %}
         {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
         <li class="page-item active" aria-current="page">
            <span class="page-link">
               {{ i }}
               <span class="sr-only"></span>
            </span>
         </li>
         {% else %}
         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
         {% endfor %}
         {% if page_obj.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
         </li>
         {% endif %}
      </ul>
   </nav>




   <script>

      // document.addEventListener('DOMContentLoaded', function () {
      //    document.querySelectorAll('.follow').forEach(button => {
      //       button.onclick = function () {
      //          console.log("Hello World");
      //          // Detects if EDIT button clicked
               
      //          if (event.target.classList.contains("follow")) {
      //             const button = document.querySelector('.follow')
      //             let movie = document.querySelector('h2').dataset.id
      //             console.log(`User number ${movie}`)
      //             console.log(button);
      //             if (button.innerHTML == "Follow") {
      //                console.log("Follow button");

      //                fetch(`/follow/${movie}`)
      //                   .then(response => response.json())
      //                   .then(data => {
      //                      console.log(data);
      //                      button.innerHTML = "Unfollow"
      //                      button.className = "follow btn btn-danger ms-4"
      //                   })

      //             }
      //             else if (button.innerHTML == "Unfollow") {
      //                console.log("Unfollow button clicked")

      //                fetch(`/follow/${movie}`)
      //                   .then(response => response.json())
      //                   .then(data => {
      //                      console.log(data);

      //                      button.innerHTML = "Follow"
      //                      button.className = "follow btn btn-primary ms-4"

      //                   })
      //             }
      //          }

      //          // Detects if LIKE button clicked
      //             else if (this.className === "btn btn-secondary float-left" || this.className === "btn btn-danger float-left") {
      //                console.log(`Like button clicked. movie number: ${this.parentElement.parentElement.dataset.id}`)

      //                const element = event.target
      //                const id = element.parentElement.parentElement.dataset.id

      //                // Update database then HTML
      //                fetch(`/like/${id}`), {
      //                   method: 'POST'}
      //                   like(element);
      //                }

      //          // Detects if FOLLOW button clicked
      //          else if (event.target.className === "btn btn-primary float-end edit") {
      //             console.log(`Edit button clicked. movie number: ${this.parentElement.parentElement.dataset.id}`)

      //             const element = event.target
      //             const id = element.parentElement.parentElement.dataset.id
      //             const originalText = element.parentElement.querySelector("#content").innerText

      //             // If edit button reads 'edit', create content area and change button text to 'save'
      //             if (element.parentElement.querySelector("#edit").innerText === "Edit") {
      //                element.parentElement.querySelector("#content").innerHTML = '<textarea style="width: 32rem" id="edit_text"></textarea>'
      //                element.parentElement.querySelector("#edit_text").placeholder = originalText

      //                element.parentElement.querySelector("#edit").innerHTML = "Save"

      //                // If edit button reads 'save', update movie
      //             } else if (element.parentElement.querySelector("#edit").innerText === "Save") {

      //                fetch(`/edit/${id}`, {
      //                   method: 'POST',
      //                   body: JSON.stringify({
      //                      post: element.parentElement.querySelector("#edit_text").value
      //                   })
      //                })

      //                   .then(response => response.json())
      //                   .then(result => {
      //                      console.log(`Edited content: ${result.new_content}`)

      //                      // Update displayed text and revert edit button text to 'edit'
      //                      element.parentElement.querySelector("#content").innerHTML = result.new_content
      //                      element.parentElement.querySelector("#edit").innerHTML = "Edit"
      //                   });
      //             }
      //          }
      //       }
      //    })
      // })

      function like(movie) {

         // Get current number of likes
         var likes = movie.querySelector("#number").innerHTML

         // Increment / deincrement number of likes and change colour of button
         if (movie.classList.contains("btn-secondary")) {

            movie.className = "btn btn-danger float-left";
            likes++
            movie.querySelector("#number").innerHTML = likes

         } else {

            movie.className = "btn btn-secondary float-left";
            likes--
            movie.querySelector("#number").innerHTML = likes
         }
      }

   </script>

{% endblock %}