{% extends "movies/layout.html" %}
{% block body %}
{% load static %}

<div class="container header">

   <h1 class="my-list">{{ user_profile }}'s List</h1>
   <div>
      <div class="container follow">
       <div>{{ followers.count }} followers </div>
       <div>{{ following.count }} following</div>
      </div>

       {% if user.is_authenticated %}
           {% if user != user_profile %}
               {% if is_following %}
                   <form action="{% url 'unfollow' %}" method="post">
                       {% csrf_token %}
                       <input type="hidden" name="user_follow" value="{{ user_profile }}" />
                       <input type="submit" value="Unfollow" class="btn btn-danger" />
                   </form>
               {% else %}
                   <form action="{% url 'follow' %}" method="post">
                       {% csrf_token %}
                       <input type="hidden" name="user_follow" value="{{ user_profile }}" />
                       <input type="submit" value="Follow" class="btn btn-success" />
                   </form>
               {% endif %}
           {% endif %}
       {% endif %}
   </div>
</div>

<hr style="color: white">
<!-- Movie.objects.filter(my_list=user) -->
   

<!-- Show paginated movies -->
   <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <!-- Get a title that is already in George's list also showing in Alma's list -->
      {% for movie in my_list %} 
      <div class="card ms-3" style="width: 14rem" data-id="{{movie.id}}";>
         
         <a href="{% url '_details' imdb_id=movie.imdb_id %}" data-id="{{movie.imdb_id}}">
            <img class="card-img-top" src="{{movie.poster}}" alt="{{movie.title}}" />
         </a>
         
            <div class="card-body">
               <a href="{% url '_details' imdb_id=movie.imdb_id %}" data-id="{{movie.imdb_id}}">
                  <div class="card-title">{{movie.title}}</div>
               </a>
               <div class="card-year">{{movie.year}}</div>
               <div class="card-type">{{movie.type}}</div>
               <!-- <a href="{% url '_details' imdb_id=movie.imdb_id %}" class="btn btn-primary" data-id="{{movie.imdb_id}}">details</a> -->
            </div>
            <!-- <a href="{% url '_profile' user_id=movie.user.id%}"><b>@{{ movie.user}}</b></a> -->
      </div>
      {% endfor %}
   </div>


   <br>
   <!-- Pagination -->
   <nav aria-label="Page">
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
         </li>
         {% endif %}
         {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
         <li class="page-item active" aria-current="page">
            <span class="page-link">
               {{ i }}
               <span class="sr-only"></span>
            </span>
         </li>
         {% else %}
         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
         {% endfor %}
         {% if page_obj.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
         </li>
         {% endif %}
      </ul>
   </nav>

{% endblock %}


<script src="{% static 'movies/js/profile.js' %}"></script>

