

<!-- CODE FOR COMMENTS -->

   <div class="card m-3" style="width: 80%" data-id="{{item.imdbID}}">
      <div class="card-body">

         <h2>Comments</h2>

         {% if user.is_authenticated and not is_owner %}
         <form action="{% url 'add-comment' id=movie.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
               <label for="price">Add Comment</label>
               <input type="text" name="new_comment" placeholder="Enter Comment">
               <button type="submit" class="btn btn-warning">Add</button>
            </div>
         </form>
         {% endif %}
         <br />

         <ul class="list-group">
            {% for comment in all_comments %}
            <li class="list-group-item">
               {{ comment.message }}
               <br />
               <p>Member: {{ comment.author }}</p>
            </li>
            {% endfor %}
         </ul>

      </div>
   </div>