{% extends "movies/layout.html" %}

{% block body %}
{% load static %}

<div class="d-flex p-4 justify-content-center">
    <h1><b>Search</b></h1>
</div>

<div class="container">
    <div class="row pt-4">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="search" placeholder="Search">
                </div>
                <br>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>  
</div>

{% for movie in movies %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BN2U1MWE1NTMtYjQ2ZC00MTFmLWFmYjItODMyNGYxOTAyZmEzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">1976</h6>
      <a href="#" class="btn btn-primary">More</a>
    </div>
  <!-- </div>
<table class="table text-center align-middle">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Poster</th>
            <th scope="col">Released</th>
            <th scope="col">View</th>
        </tr> -->

{% endblock %}


