{% extends "movies/layout.html" %}
{% block body %}
{% load static %}

<div class="container searchpage">
  <div class="row">
    <div class="col-sm">
      <p>Results for: "{{keyword}}"</p>
    </div>
  </div>
</div>

{% if movies %}

<div class="searchresults row row-cols-1 row-cols-md-3 g-4 justify-content-center">

  {% for movie in movies %}

  <div class="card ms-3" style="width: 14rem">
    <a href="{% url '_details' imdb_id=movie.imdb_id %}" data-id="{{movie.imdb_id}}">
      <div>
      <img class="card-img-top" src="{{movie.poster}}" alt="{{movie.title}}" />
      <div class="card-body">
        <div class="card-title">{{movie.title}}</div>
        <div class="card-year">{{movie.year}}</div>
        <div class="card-type">{{movie.type}}</div>
      </div>
    </div>
    </a>
  </div>

  {% endfor %}

  {% endif %}
  {% endblock %}
</div>