{% extends "movies/layout.html" %}
{% block body %}
{% load static %}

<div class="container header">
   <h2>Top Rated</h2>
   <hr>
</div>

   <!-- Show paginated movies -->
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      {% for movie in page_obj %}
      <!-- <div class="row justify-content-center mb-4"> -->
      <div class="card m-3 bgColor" style="width: 14rem" data-id="{{movie.id}}">
         <!-- <div class="ms-2 card" style="width: 35rem" data-id="{{movie.id}}";> -->
         
         <!-- <div class="container user-button"> -->
            <!-- <p>{{movie.user.id}}</p> -->
            <a href="{% url '_profile' user_id=movie.user.id%}">
               <button type="button" class="btn btn-info top-user">@{{movie.user}}</button>
            </a>
            <a href="{% url '_details' imdb_id=movie.imdb_id %}" data-id="{{movie.imdb_id}}">
               <img class="align-self-start mr-3 poster" src="{{movie.poster}}" alt="{{item.title}}" style="width: 12rem">
            </a>
         <!-- </div> -->
         
         <div id="post_content">{{movie.title}}</div>
         <div class="text-muted" id="post_content">{{movie.year}}</div>
         <div class="text-muted" id="post_content">{{movie.imdb_rating}}</div>
         <!-- <a href="{% url '_details' imdb_id=movie.imdb_id %}" class="btn btn-primary" data-id="{{movie.imdb_id}}">details</a> -->
      
      </div>

   {% endfor %}
</div>
   <!-- Page navigation -->
   <br>
   <nav aria-label="Page">
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
         </li>
         {% endif %}
         {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
         <li class="page-item active" aria-current="page">
            <span class="page-link">
               {{ i }}
               <span class="sr-only"></span>
            </span>
         </li>
         {% else %}
         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
         {% endfor %}
         {% if page_obj.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
         </li>
         {% endif %}
      </ul>
   </nav>

   <!-- <script>
      document.addEventListener('DOMContentLoaded', function() {

         // Detects if ESAVE button clicked
         document.querySelectorAll('button').forEach(button => {
            button.onclick = function() {

               // Detects if EDIT button clicked
               if (event.target.className === "btn btn-primary float-end edit") {
                  console.log(`Edit button clicked. Post number: ${this.parentElement.parentElement.dataset.id}`)

                  const element = event.target
                  const id = element.parentElement.parentElement.dataset.id
                  const originalText = element.parentElement.querySelector("#post_content").innerText

                  function getCookie(name){
                     const value = `; ${document.cookie}`;
                     const parts = value.split(`; ${name}=`);
                     if(parts.length == 2) return parts.pop().split(';').shift(); 
                 }
                  
                  // If edit button reads 'edit', create text area and change button text to 'save'
                  if (element.parentElement.querySelector("#edit").innerText === "Edit") {
                     element.parentElement.querySelector("#post_content").innerHTML = '<textarea style="width: 32rem" id="edit_text"></textarea>'
                     element.parentElement.querySelector("#edit_text").placeholder = originalText

                     element.parentElement.querySelector("#edit").innerHTML = "Save"

                  // If edit button reads 'save', update post
                  } else if (element.parentElement.querySelector("#edit").innerText === "Save") {

                     fetch(`/edit/${id}`, {
                        method: 'POST',
                        body: JSON.stringify({
                           headers: {"Content-type": "application/json", "X-CSRFToken": getCookie("csrftoken")},
                           post: element.parentElement.querySelector("#edit_text").value
                        })
                     })

                     .then(response => response.json())
                     .then(result => {
                        console.log(`Edited text: ${result.new_text}`)

                        // Update displayed text and revert edit button text to 'edit'
                        element.parentElement.querySelector("#post_content").innerHTML = result.new_text
                        element.parentElement.querySelector("#edit").innerHTML = "Edit"
                     });   
                  }

               // Detects if LIKE button clicked
               } else if (this.className === "btn btn-secondary float-left" || this.className === "btn btn-danger float-left") {
                  console.log(`Like button clicked. Post number: ${this.parentElement.parentElement.dataset.id}`)

                  const element = event.target
                  const id = element.parentElement.parentElement.dataset.id

                  // Update database then HTML
                  fetch(`/like/${id}`), {
                     method: 'POST'}
                     like(element);
                  }
               }
            });
      });

      // Like / unlike post
      function like(post) {

         // Get current number of likes
         var likes = post.querySelector("#number").innerHTML

         // Increment / deincrement number of likes and change colour of button
         if (post.classList.contains("btn-secondary")) {

            post.className = "btn btn-danger float-left";
            likes++
            post.querySelector("#number").innerHTML = likes

         } else {

            post.className = "btn btn-secondary float-left";
            likes--
            post.querySelector("#number").innerHTML = likes
         }
      }

   </script> -->
   {% endblock %}