{% extends "movies/layout.html" %}
{% block body %}
{% load static %}

<div class="container header">
<h2>Top Rated from User Lists</h2>
</div>

<hr style="color: white">

<div class="profile row row-cols-1 row-cols-md-3 g-4 justify-content-center">
   <!-- Show paginated posts -->
   {% for movie in page_obj %}
   <div class="card ms-3" style="width: 14rem" data-id="{{movie.id}}" ;>
     
      <img class="card-img-top" src="{{movie.poster}}" alt="{{movie.title}}" />
      <!-- <img class="align-self-start mr-3" src="{{movie.poster}}" alt="{{item.title}}" style="width: 12rem"> -->

      <div class="card-body">
         <div class="card-title">{{movie.title}}</div>
         <div class="card-year">{{movie.year}}</div>
         <div class="card-type top-rated">{{movie.type}}</div>

      </div>
      
      <!-- <div class="card-user"><a href="{% url '_profile' user_id=movie.user.id%}"><b class="my-list"> {{ movie.user }}'s List</b></div></a> -->
      <a class ="btn btn-warning user-list-btn" href="{% url '_profile' user_id=movie.user.id%}"><b class="my-list"> {{ movie.user }}'s List</b></a>
   </div>
   {% endfor %}
</div>

   <!-- Page navigation -->
   <br>
   <!-- Pagination -->
   <nav aria-label="Page">
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
         </li>
         {% endif %}
         {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
         <li class="page-item active" aria-current="page">
            <span class="page-link">
               {{ i }}
               <span class="sr-only"></span>
            </span>
         </li>
         {% else %}
         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
         {% endfor %}
         {% if page_obj.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
         </li>
         {% endif %}
      </ul>
   </nav>


   {% endblock %}